.title {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 560px;
}
.logoIcon {
  max-height: 100%;
  width: 154px;
  object-fit: cover;
}
.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoIcon1,
.logoIcon2 {
  max-height: 100%;
  width: 113px;
  object-fit: cover;
}
.logoIcon2 {
  width: 101px;
}
.logoIcon3,
.logoIcon4,
.logoIcon5 {
  max-height: 100%;
  width: 107px;
  object-fit: cover;
}
.logoIcon4,
.logoIcon5 {
  width: 124px;
}
.logoIcon5 {
  width: 165px;
}
.logoWrapper6,
.logoWrapper7,
.logoWrapper8,
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos {
  text-decoration: none;
  align-self: stretch;
  height: 54px;
  flex-direction: row;
  gap: 40px;
}
.logoWrapper6,
.logoWrapper7,
.logoWrapper8 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
}
.logoWrapper7,
.logoWrapper8 {
  left: 184px;
}
.logoWrapper8 {
  top: 0.5px;
  left: 327px;
}
.logoWrapperParent {
  position: relative;
  width: 464px;
  height: 23.5px;
}
.logoWrapper10,
.logoWrapper11 {
  position: absolute;
  top: 4px;
  left: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoWrapper11 {
  top: 6.5px;
  left: 291px;
}
.logoWrapperGroup {
  position: relative;
  width: 492px;
  height: 35.5px;
}
.logos1 {
  text-decoration: none;
  align-self: stretch;
  height: 54px;
  display: none;
  flex-direction: row;
  padding: 0 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.content,
.logoTitle,
.logos2 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.logos2 {
  text-decoration: none;
  align-self: stretch;
  display: none;
  gap: var(--gap-29xl);
}
.content,
.logoTitle {
  display: flex;
}
.content {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.logoTitle {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1012px) {
  .logos {
    display: none;
  }
  .logos1 {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .logos2 {
    display: none;
  }
}
@media screen and (max-width: 502px) {
  .logos1 {
    display: none;
  }
  .logos2 {
    display: flex;
    flex-direction: column;
    gap: var(--gap-29xl);
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
